<div class="column is-5  is-offset-1">
    <div class="row">
        <%= simple_form_for([@doubt, @doubt.build_answer]) do |f| %>
        <p class="title is-3 has-text-grey-light"> Add an answer</p>
        <div class="field">
            <div class="control">
                <%= f.input :content, required: true,  input_html: { class: 'textarea'}, wrapper: false, label: false %>
            </div>
        </div>

        <%= f.button :submit, 'Add answer', class:'button is-info' %>

        <% end %>
    </div>
    <div class='row mt50'>
        <h3 class="title is-5 has-text-grey-light">Categories</h3>

        <ul class="list">
            <% @categories.each do |c| %>
            <li class="mt10"><%= link_to c.category, c %></li>
            <% end %>
        </ul>

        <br />

    </div>
</div>